<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <a href="{{path('test_index')}}">Accueil des tests</a>
            <a href="{{path('test_list')}}">Liste des membres</a>
            <a href="{{path('test_new')}}">Nouveau membre</a>
            <a href="{{path('test_messagerie')}}">Messagerie</a>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>